
@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Panel</h2>

<h3>@Html.ActionLink("Employees", "Index", "Employees")</h3>
<h3>@Html.ActionLink("Services", "Index", "Services")</h3>

