@{
    ViewBag.Title = "Patients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/datatables")
}

<h2>Patients List</h2>

<!-- For Create and Edit modal window. -->
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "formItem" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Middle Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Address 1
            </th>
            <th>
                Address 2
            </th>
            <th></th>
        </tr>
    </thead>

    <!-- For partial view with table data. -->
    <tbody id="tabledata">
        @Html.Action("TableData")
    </tbody>
</table>

@section scripts{

    @Scripts.Render("~/bundles/datatables")

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".formItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}




