
@{
    ViewBag.Title = "Finishing registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewBag.Title</h2>

<p>You will get an e-mail with appropriate instructions to finish registration.</p>

