
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Panel</h2>

<h3>@Html.ActionLink("Patients", "Index", "Patients")</h3>
<h3>@Html.ActionLink("ServiceTypes", "Index", "ServiceTypes")</h3>
<h3>@Html.ActionLink("Services", "Index", "Services")</h3>
<h3>@Html.ActionLink("Employees", "Index", "Employees")</h3>

